#outter{
    width: 1024px;
    height: 640px;
    margin: 30px auto;
    position: relative;
    background-color: gray;

}
#inner div{
    width: 100%;
    height: 100%;
    display: none;
    background-color: red;

}
#inner div.current{
    display: inline-block;
}

#inner div img{
    width: 1024px;
    height: 640px;
}


#control{
    list-style: none; 
    position: absolute; 
    left: 50%; 
    margin-left: -50px; 
    bottom: 15px;
}
#control li{
    width: 12px; 
    height: 12px; 
    margin-right: 10px; 
    background: #ddd; 
    border-radius: 50%;
    float: left;
}
#control li.current{
    background: #f00;
}
#control li:hover{
    cursor: pointer;
}


#arrow{
    position: absolute;
    top: 50%;
    width: 100%; 

}
#arrow .arrow{
    display: inline-block; 
    background: rgba(0,0,0,0.3);
}

#arrow .arrow.arrow_right {
    float: right;
} 

